%h1= question.title
= question.body
=link_to 'Delete Question', question, method: :delete if question.user == current_user 
%h2 Answers
-question.answers.each do |answer|
  %p
    =answer.body
    =link_to 'Delete Answer', answer, method: :delete if answer.user == current_user 
%h3 Leave your answer
= render 'answers/form'
