.comment.mb-2{ "data-comment-id": "#{comment.id}", 
               "data-user-id": "#{comment.user.id}", 
               "data-resource": "#{resource}",
               "data-parent-id": "#{comment.parent.id}" }
  =comment.body
