%h2 Confirm your email
= render "shared/errors", resource: @user
= form_with url: verified_oauth_path, method: :post, local: true do |f|
  = f.text_field :email, class: 'form-control mb-2', placeholder: true
  = f.submit 'Confirm email', class: 'btn btn-success'
